@import "../../../../../styles/theme.scss";

.header {
  @include flexCenterBetween();
  width: 100%;
  backdrop-filter: blur(#{clamps(5)});
  max-width: #{clamps(1452.72)};
  margin: 0 auto;

  font-size: #{clamps(18)};
  @include text400();
  color: $white !important;
  text-transform: uppercase;
  line-height: #{clamps(23.4)};

  img {
    width: #{clamps(68.712)};
    height: #{clamps(70.228)};
  }
}

.main {
  @include flexCenter();
  gap: #{clamps(45)};
}

@media (max-width: 750px) {
  .md {
    display: none !important;
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .header {
    width: #{md(1300)};
    backdrop-filter: blur(#{md(5)});
    max-width: #{md(1300)};
    font-size: #{md(22)};

    img {
      width: #{md(98.712)};
      height: #{md(100.228)};
    }
  }

  .main {
    gap: #{md(70)};
  }
  .hid {
    display: none;
  }
}
