:root {
  --vw: 100vw;
}

// COLORS
.yellow {
  color: #f5a238;
}
$yellow: #f5a238;
$white: #fff;
$black: #030303;

// FONT FAMILY
$poppins: "Poppins";
$Jost: "Jost";
$inter: "Inter";
$roboto: "Roboto";

body {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #030303;
}

.close {
  padding-top: calc(150.8 * 100vw / 1920);
  animation-name: close;
  animation-duration: 1s;
}

@keyframes close {
  from {
    opacity: 0;
    transform: translate(20%);
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}

.open {
  padding-top: calc(150.8 * 100vw / 1920);
  animation-name: open;
  animation-duration: 0.5s;
}

@keyframes open {
  from {
    opacity: 0;
    transform: translate(120%);
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}

.active {
  animation-name: animate;
  animation-duration: 1s;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: rotateY(70deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@function scaleX($value) {
  @return calc(#{$value}px * (var(--vw) / 390));
}

// PIXEL PERFECT CALCULATOR
@function clamps(
  $value,
  $idealWidth: 1366,
  $currentWidth: 100vw,
  $maxWidth: 1400px,
  $minWidth: 350px
) {
  @return calc(#{$value} * (clamp(1400px, var(--vw), 10000px) / 1920));
}

@function scaleY($value, $ideal: 1810, $current: 100vh) {
  @return calc(#{$value} * (#{$current} / #{$ideal}));
}

@mixin flexCenterAround() {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexCenterBetween() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenterEnd() {
  display: flex;
  align-items: center;
  justify-content: end;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
}

@mixin BgImgContain() {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin text300() {
  font-family: $poppins;
  font-weight: 300;
}

@mixin text400() {
  font-family: $poppins;
  font-weight: 400;
}

@mixin text500() {
  font-family: $poppins;
  font-weight: 500;
}

@mixin text600() {
  font-family: $poppins;
  font-weight: 600;
}

@mixin text700() {
  font-family: $poppins;
  font-weight: 700;
}

@mixin text800() {
  font-family: $poppins;
  font-weight: 800;
}

@mixin text900() {
  font-family: $poppins;
  font-weight: 900;
}
