@import "../../../../../styles/theme.scss";
.sm {
  display: none !important;
}
// UltimateUtilityComponent
.desc_UltimateUtilityComponent {
  font-size: #{clamps(18)};
  @include text400();
  color: #787878;
  text-transform: uppercase;
  text-align: center;
  width: #{clamps(843.37)};
  margin: #{clamps(30)} auto #{clamps(98)} auto;
}

.main_UltimateUtilityComponent {
  @include flexCenter();
  gap: #{clamps(83)};
  width: fit-content;
  margin: 0 auto #{clamps(200)} auto;
}

.img_UltimateUtilityComponent {
  width: #{clamps(652.8)};
  height: #{clamps(535.53)};
}

.aside_UltimateUtilityComponent {
  background-position: top right !important;
  background-repeat: no-repeat !important;
  background-size: #{clamps(509)} #{clamps(353)};
  width: #{clamps(815.3)};
  height: #{clamps(631.53)};
  background: transparent;
  display: flex;
  flex-direction: column;
}

.tokens_UltimateUtilityComponent {
  display: grid;
  grid-template-columns: auto auto;
  gap: #{clamps(45)};
  margin-top: auto;
}

.token_UltimateUtilityComponent {
  display: flex;
  gap: #{clamps(5)};
  padding: #{clamps(15)};
  background: #151515;
  border: #{clamps(1)} solid #2f2f2f;
  border-radius: #{clamps(10)};

  img {
    width: #{clamps(80.38)};
    height: #{clamps(64.2)};
    object-fit: contain;
  }
}

.tokenName_UltimateUtilityComponent {
  font-size: #{clamps(28)};
  @include text700();
  font-family: $Jost !important;
  color: $white;
}

.tokenDesc_UltimateUtilityComponent {
  font-size: #{clamps(16)};
  @include text400();
  color: #b3b3b3;
}

// EcosystemFeaturesComponent
.btns_Header {
  margin-top: #{clamps(38)};
}

.main_EcosystemFeaturesComponent {
  @include flexCenter();
  gap: #{clamps(180)};
  width: fit-content;
  margin: #{clamps(139)} auto #{clamps(180)} auto;
}

.img_EcosystemFeaturesComponent {
  width: #{clamps(448)};
  height: #{clamps(420.553)};
}

.aside_EcosystemFeaturesComponent {
  display: flex;
  flex-direction: column;
  gap: #{clamps(30)};
}

.asideTitle_EcosystemFeaturesComponent {
  font-size: #{clamps(35)};
  @include text700();
  font-family: $Jost !important;
  color: $white;
  line-height: #{clamps(42)};
  width: #{clamps(512.43)};
}

.infos_EcosystemFeaturesComponent {
  display: flex;
  flex-direction: column;
  gap: #{clamps(10)};
  width: #{clamps(512.43)};

  font-size: #{clamps(15)};
  @include text400();
  color: #c9c7c7;
  line-height: #{clamps(18)};
}

// UltimateJourneyComponent
.UltimateJourneyComponent {
  max-width: #{clamps(2200)};
  margin: 0 auto;
}
.title_UltimateJourneyComponent {
  font-size: #{clamps(58)};
  @include text700();
  font-family: $Jost !important;
  color: $white;
  text-align: center;
  margin-bottom: #{clamps(84)};
}

.phases_UltimateJourneyComponent {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.phases_UltimateJourneyComponent {
  // width: 100%;
  gap: 0;
}

.phaseSubtitle_UltimateJourneyComponent {
  font-size: #{clamps(16)};
  @include text500();
  font-family: $Jost !important;
  color: #848484;
  padding-bottom: #{clamps(34)};
  padding-left: #{clamps(50)};
  border-bottom: #{clamps(1)} solid #848484;
  position: relative;

  @media (min-width: 1400px) {
    padding-left: #{clamps(250)} !important;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: #{clamps(-8)};
    left: 0;
    width: #{clamps(13)};
    height: #{clamps(13)};
    border-radius: 100%;
    background-color: #858585;
    margin-left: #{clamps(50)};
    @media (min-width: 1400px) {
      margin-left: #{clamps(250)} !important;
    }
  }
}

.phasetitle_UltimateJourneyComponent {
  font-size: #{clamps(25)};
  @include text700();
  font-family: $Jost !important;
  color: $white;
  margin: #{clamps(30)} 0;
  padding-left: #{clamps(50)};

  @media (min-width: 1400px) {
    padding-left: #{clamps(250)} !important;
  }
}

.steps_UltimateJourneyComponent {
  display: flex;
  flex-direction: column;
  gap: #{clamps(7)};
}

.step_UltimateJourneyComponent {
  @include flexCenter();
  gap: #{clamps(5)};
  padding-left: #{clamps(50)};
  @media (min-width: 1400px) {
    padding-left: #{clamps(250)} !important;
  }

  img {
    background-color: #858585;
    width: #{clamps(15)};
    height: #{clamps(15.034)};
    border-radius: #{clamps(5)};
  }

  font-size: #{clamps(16)};
  @include text400();
  font-family: $Jost !important;
  color: $white;
}

.desc_UltimateJourneyComponent {
  font-size: #{clamps(16)};
  @include text400();
  color: #787878;
  line-height: #{clamps(24)};
  max-width: #{clamps(1107.43)};
  text-align: center;
  margin: #{clamps(70)} auto #{clamps(140)} auto;
}

// DifferentRarityComponent
.section_DifferentRarityComponent {
  @include flexCenter();
  gap: #{clamps(35)};
  width: fit-content;
  margin: 0 auto;
}

.main_DifferentRarityComponent {
  @include flexCenterBetween();
  width: #{clamps(1410)};
}

.carouselImg_DifferentRarityComponent {
  width: #{clamps(100)};
  height: #{clamps(300)};
}
.carouselImg_DifferentRarityComponent.active {
  height: #{clamps(700)} !important;
  width: #{clamps(400)} !important;
}

.control_DifferentRarityComponent {
  height: #{clamps(54)};
  width: #{clamps(30)};
  cursor: pointer;
}

.carouselTitle_DifferentRarityComponent {
  font-size: #{clamps(52)};
  @include text700();
  color: $white;
  text-align: center;
  font-style: italic;
}

// InfluencerComponent
.InfluencerComponent {
  padding: #{clamps(154)} 0 #{clamps(200)} 0;
}

.influencers_InfluencerComponent {
  @include flexCenter();
  justify-content: center;
  gap: #{clamps(60)};
  margin-top: #{clamps(80)};

  font-size: #{clamps(34)};
  @include text600();
  font-family: $Jost !important;
  color: $white;
  text-align: center;
}

.influencerImg_InfluencerComponent {
  width: #{clamps(204)};
  height: #{clamps(204)};
  border-radius: 100%;
}

.influencerSocial_InfluencerComponent {
  @include flexCenter();
  justify-content: center;
  gap: #{clamps(14)};
  margin-top: #{clamps(12)};

  img {
    width: #{clamps(27)};
    height: #{clamps(22)};
  }
}

// PartnersComponent
.partners_PartnersComponent {
  display: flex;
  gap: #{clamps(20)};
  width: 95%;
  margin: #{clamps(80)} auto 0 auto;
  max-width: #{clamps(1290)};
}

.partner_PartnersComponent {
  display: flex;
  flex-direction: column;
  gap: #{clamps(20)};
  width: #{clamps(242)};
}

// GamePartnersComponent
.GamePartnersComponent {
  padding: #{clamps(180)} 0;
  background: linear-gradient(0deg, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.1));
}

.partners_GamePartnersComponent {
  display: flex;
  flex-wrap: wrap;
  gap: #{clamps(80)};
  width: 95%;
  margin: #{clamps(50)} auto 0 auto;
  max-width: #{clamps(1233)};

  img {
    height: auto;
    width: #{clamps(133)};
  }
}

@media (max-width: 750px) {
  .sm {
    display: flex !important;
  }

  .hidSm {
    display: none !important;
  }

  // UltimateUtilityComponent
  .desc_UltimateUtilityComponent {
    font-size: #{sm(16)};
    width: 100%;
    padding: 0 #{sm(16)};
    margin: #{sm(20)} auto #{sm(0)} auto;
  }

  .main_UltimateUtilityComponent {
    flex-direction: column;
    gap: #{sm(40)};
    padding: 0 #{sm(16)};
    margin: 0 auto #{sm(200)} auto;
    width: 100%;
  }

  .img_UltimateUtilityComponent {
    width: 100%;
    height: #{sm(450.53)};
    margin: 0 auto;
  }

  .aside_UltimateUtilityComponent {
    background-position: #{sm(20)} #{sm(-50)} !important;
    background-size: #{sm(409)} #{sm(253)} !important;
    width: 100%;
    max-width: 500px;
    height: #{sm(750.53)};
  }

  .tokens_UltimateUtilityComponent {
    grid-template-columns: auto;
    gap: #{sm(16)};
  }

  .token_UltimateUtilityComponent {
    gap: #{sm(5)};
    padding: #{sm(15)};

    img {
      width: #{sm(80.38)};
      height: #{sm(64.2)};
    }
  }

  .tokenName_UltimateUtilityComponent {
    font-size: #{sm(28)};
  }

  .tokenDesc_UltimateUtilityComponent {
    font-size: #{sm(16)};
  }

  // EcosystemFeaturesComponent
  .btns_Header {
    flex-wrap: nowrap !important;
    margin-top: #{sm(28)};
    padding: 0 #{sm(16)};
    margin-left: 0 !important;
    justify-content: start !important;
  }

  .main_EcosystemFeaturesComponent {
    justify-content: center;
    flex-wrap: wrap;
    gap: #{sm(20)};
    width: 100%;
    padding: 0 #{sm(16)};
    margin: #{sm(40)} auto #{sm(180)} auto;
  }

  .img_EcosystemFeaturesComponent {
    width: #{sm(300)};
    height: #{sm(420)};
  }

  .aside_EcosystemFeaturesComponent {
    gap: #{sm(20)};
  }

  .asideTitle_EcosystemFeaturesComponent {
    font-size: #{sm(32)};
    line-height: #{sm(42)};
    width: 100%;
  }

  .infos_EcosystemFeaturesComponent {
    gap: #{sm(10)};
    width: 100%;
    font-size: #{sm(15)};
    line-height: #{sm(18)};
  }

  // UltimateJourneyComponent
  .title_UltimateJourneyComponent {
    font-size: #{sm(42)};
    margin-bottom: #{sm(50)};
  }

  .phases_UltimateJourneyComponent {
    display: grid;
    grid-template-columns: auto auto;
    gap: #{sm(40)} 0;
  }

  .phaseSubtitle_UltimateJourneyComponent {
    font-size: #{sm(16)};
    padding-bottom: #{sm(20)};
    padding-left: #{sm(16)};
    border-bottom: #{sm(1)} solid #848484;

    &::before {
      bottom: #{sm(-6.5)};
      width: #{sm(13)};
      height: #{sm(13)};
      margin-left: #{sm(16)};
    }
  }

  .phasetitle_UltimateJourneyComponent {
    font-size: #{sm(25)};
    margin: #{sm(20)} 0;
    padding-left: #{sm(16)};
  }

  .steps_UltimateJourneyComponent {
    gap: #{sm(10)};
    padding-right: #{sm(10)};
  }

  .step_UltimateJourneyComponent {
    @include flexCenter();
    gap: #{sm(5)};
    padding-left: #{sm(16)};

    img {
      width: #{sm(15)};
      height: #{sm(15.034)};
      border-radius: #{sm(5)};
    }

    font-size: #{sm(16)};
  }

  .desc_UltimateJourneyComponent {
    font-size: #{sm(16)};
    line-height: #{sm(24)};
    max-width: 100%;
    padding: #{sm(16)};
    margin: #{sm(40)} auto #{sm(100)} auto;
  }

  .md {
    display: none !important;
  }

  // DifferentRarityComponent
  .section_DifferentRarityComponent {
    gap: #{sm(16)};
    padding: 0 #{sm(16)};
    width: 100%;
  }

  .main_DifferentRarityComponent {
    justify-content: center;
    width: 100%;
  }

  .carouselImg_DifferentRarityComponent.active {
    max-height: #{sm(500)} !important;
    width: #{sm(300)} !important;
  }

  .control_DifferentRarityComponent {
    height: #{sm(34)};
    width: #{sm(20)};
  }

  .carouselTitle_DifferentRarityComponent {
    font-size: #{sm(382)};
  }

  // InfluencerComponent
  .InfluencerComponent {
    padding: #{sm(100)} 0 #{sm(140)} 0;
  }

  .influencers_InfluencerComponent {
    flex-wrap: wrap;
    justify-content: center;
    gap: #{sm(60)};
    padding: 0 #{sm(16)};
    margin-top: #{sm(40)};
    width: 100%;
    font-size: #{sm(28)};
  }

  .influencerImg_InfluencerComponent {
    width: #{sm(134)};
    height: #{sm(134)};
    border-radius: 100%;
  }

  .influencerSocial_InfluencerComponent {
    gap: #{sm(14)};
    margin-top: #{sm(6)};

    img {
      width: #{sm(20)};
      height: #{sm(15)};
    }
  }

  // PartnersComponent
  .partners_PartnersComponent {
    display: flex;
    gap: #{sm(20)};
    width: 100%;
    padding: 0 #{sm(16)};
    margin: #{sm(40)} 0 0 0;
  }

  .partner_PartnersComponent {
    gap: #{sm(20)};
    width: calc(108 * (100vw / 390));
  }

  // GamePartnersComponent
  .GamePartnersComponent {
    padding: #{sm(150)} 0;
  }

  .partners_GamePartnersComponent {
    gap: #{sm(16)};
    padding: 0 #{sm(16)};
    width: 100%;
    margin: #{sm(50)} auto 0 auto;

    img {
      height: auto;
      width: #{sm(108)};
    }
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .hidMd {
    display: none !important;
  }
  // UltimateUtilityComponent
  .main_UltimateUtilityComponent {
    flex-wrap: wrap;
    justify-content: center;
    gap: #{md(83)};
  }

  .img_UltimateUtilityComponent {
    width: #{md(852.8)};
    height: #{md(735.53)};
  }

  .aside_UltimateUtilityComponent {
    background-position: #{md(594)} #{md(54)} !important;
    background-size: #{md(620)} #{md(393)} !important;
    width: #{md(1200.3)};
    height: #{md(1031.53)};
  }

  .tokens_UltimateUtilityComponent {
    gap: #{md(45)};
  }

  .token_UltimateUtilityComponent {
    gap: #{md(15)};
    padding: #{md(30)};
    border: #{md(1)} solid #2f2f2f;
    border-radius: #{md(10)};
  }

  .tokenName_UltimateUtilityComponent {
    font-size: #{md(42)};
  }

  .tokenDesc_UltimateUtilityComponent {
    font-size: #{md(25)};
  }

  // EcosystemFeaturesComponent
  .main_EcosystemFeaturesComponent {
    align-items: start;
    gap: #{md(100)};
  }

  .img_EcosystemFeaturesComponent {
    width: #{md(448)};
    height: #{md(420.553)};
  }

  .aside_EcosystemFeaturesComponent {
    gap: #{md(30)};
  }

  .asideTitle_EcosystemFeaturesComponent {
    font-size: #{md(45)};
    line-height: #{md(60)};
    width: #{md(592.43)};
  }

  .infos_EcosystemFeaturesComponent {
    gap: #{md(20)};
    width: #{md(592.43)};

    font-size: #{md(22)};
    line-height: #{md(35)};
  }

  // UltimateJourneyComponent
  .step_UltimateJourneyComponent {
    div {
      img {
        background-color: #858585;
        width: #{clamps(15)};
        height: #{clamps(15.034)};
        border-radius: #{clamps(5)};
      }
    }

    font-size: #{md(24)};
  }

  .desc_UltimateJourneyComponent {
    font-size: #{md(24)};
    line-height: #{md(35)};
    max-width: 80%;
  }

  // DifferentRarityComponent
  .section_DifferentRarityComponent {
    width: #{md(1200)};
  }

  // PartnersComponent
  .partners_PartnersComponent {
    width: #{md(1200)};
  }

  .partner_PartnersComponent {
    gap: #{md(20)};
    width: #{md(280)};
  }

  // GamePartnersComponent
  .partners_GamePartnersComponent {
    gap: #{md(80)};
    width: #{md(1200)};

    img {
      width: #{md(160)};
    }
  }
}
